@media screen and (min-width: 500px) {
  .hero {
    height: 10rem;
    width: 20rem;
  }

  .LandingLeftFlex {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
  }
}
#Hero {
  display: flex;
  margin-left: 110%;
  margin-top: -35%;
  height: 75%;
  width: 75%;
  border: solid 4px black;
}

#WelcomeId {
  font-size: 2.1rem;
  margin-top: 30%;
}

#NameId {
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: -40%;
}

#StudentId {
  font-size: 2rem;
  margin-top: -40%;
}

.LandingLeftFlex {
  display: flex;
  width: 40%;
}

.LandingRightFlex {
  width: 50%;
}

#Cv
{
 
  height: min-content;
  text-decoration: none;
  font-size: 1rem;
  max-height: 3rem;
  border-style: solid 2px black;
  background-color: #fff;
  font-weight: 700;
}

#cv:hover,
button:hover {
  background-color: coral;
  border-radius: 4px;
  text-decoration: none;
}
