* {
  text-decoration: none;
}
/*full page container*/
.WorkHistoryPage {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
/*flex container*/
.WebResume {
  display: flex;
  height: 60vh;
  width: 100vw;
}
/*large text styling*/
#CareerGoals {
  display:flex;
  flex-direction: column;
  margin-top: -70%;
  font-weight: 900;
  width: 35vw;
  height:20vh;
}

p {
  color: black;
  font-size: 1.4rem;
  font-weight: 900;
}
/* styling of career/skill list*/
#List {
  display: flex;
  color: black;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 10%;
  padding: 0;
  margin-bottom: 0;
  height: 50vh;
  max-width: 35rem;
}
/* container containing employment history text*/
#employmentHistory {
  display: flex;
  margin-left: 10%;
  margin-top: 10%;
}
/*wrap container of employment history*/
#wrap {
  display:flex;
  flex-direction: column;
  font-weight: 900;
  width: 40vw;
  margin-top: -10%;
}
/*resume download button styling*/
#ResumeDownload {
  text-decoration: none;
  display: flex;
  width: 12rem;
  height: 7rem;
  padding: 1rem;
  font-size: 1.5rem;
  justify-content: center;
  margin-top: 15%;
  margin-right: 10%;
}

p {
  font-weight: 900;
}

#pTag {
  margin-top: 2rem;
}
/*Linked In Button styling*/
#LinkedIn {
  text-decoration: none;
  display: flex;
  width: 12rem;
  height: 5rem;
  padding: 1rem;
  font-size: 1.5rem;
  justify-content: center;
  margin-top: -15rem;
}
