/*Large page layout, overall div*/
#AboutPage {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}
/* container holding image*/
.profileImageLeft {
  display: flex;
  max-width: 40%;
}
/*paragraph container flexbox*/
.AboutParagraph {
  display: flex;
  flex-direction: column;
}
/*headshot styling/flexbox*/
.headShot {
  display: flex;
  height: 110%;
  width: 25rem;
  margin-left: 10rem;
  border: solid 3px black;
}

#About {
  font-weight: 900;
}
/*main text styling/introduction paragraphs*/
#Introduction {
  display: flex;
  font-size: 1.2rem;
  max-width: 40rem;
  line-height: 1.5;
}
