/*footer layout*/
#footerPage {
  margin-top: 5rem;
  display: flex;
  position: fixed;
  height: 20rem;
  width: 100vw;
  background: linear-gradient(#2b75a0, #dd830d);
  justify-content: center;
}
/*contact text*/
#Contact {
  color: #fff;
  padding-top: 1.7rem;
  margin-left: -3rem;
}
/*github text*/
#gitHub {
  font-weight: 900;
  color:black;
  display: flex;
  margin-top: 1.6%;
  font-size: 1.5rem;
  margin-right: 2%;
}
/*p text style*/
p {
  display: inline-block;
  padding: 2.5rem;
  font-size: 1.2rem;
  color: black;
}
